# logi
*.log

# środowiska
venv/
.venv/
node_modules/

# cache / build
__pycache__/
dist/
build/
*.pyc

# pliki tymczasowe
*.tmp
*.temp
*~
*.swp

# IDE
.idea/
.vscode/

# systemowe
.DS_Store
Thumbs.db

python312/
python-embed/
*.zip
__pycache__/
*.pyc